<!doctype html>
<html lang="it">
<head th:replace="~{layout/bs5.html::head}">
</head>
<body>
<header th:replace="~{layout/bs5.html::header}"></header>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Creazione Nuovo Genere</h3>
        </div>
        <form action="/genre/create" method="post" th:object="${form}">
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="name" class="col-4 col-form-label">Nome Genre</label>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Titolo" th:field="*{name}" />
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <button type="submit" class="btn btn-outline-primary">
                    Invia
                </button>
            </div>
    </div>
    </form>
</div>



<footer th:replace="~{layout/bs5.html::footer}">

</footer>
</body>

</html>