<!doctype html>
<html lang="it">

<head th:replace="~{layout/bs5.html::head}">
</head> 

<body> 

    <header th:replace="~{layout/bs5.html::header}">
    </header>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Benvenuto nella Videoteca</h3>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>



    <footer th:replace="~{layout/bs5.html::footer}">

    </footer>
</body>

</html>