<!doctype html>
<html lang="it">
<head th:replace="~{layout/bs5.html::head}">
</head> 
<body>
    <header th:replace="~{layout/bs5.html::header}"></header> 
    <div class="container">  
        <div class="card">
            <div class="card-header">   
                <h3 class="card-title">Creazione Nuovo Film</h3>
            </div> 
            <form th:action="@{/film/update/} + ${form.id}"  method="post" th:object="${form}">
                <div class="card-body"> 
                    <div class="mb-3 row">
                        <label for="title" class="col-4 col-form-label">Titolo</label>
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Titolo" th:field="*{title}" />
                        </div>
                    </div>  
                    <div class="mb-3 row">
                        <label for="director" class="col-4 col-form-label">Regista</label>
                        <div class="col-8">
                            <input type="text" class="form-control"  placeholder="Regista"  th:field="*{director}" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="duration" class="col-4 col-form-label">Durata</label>
                        <div class="col-8">
                            <input type="number" class="form-control"  placeholder="durata"  th:field="*{duration}" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="published" class="col-4 col-form-label">Data Rilascio</label>
                        <div class="col-8">
                          <input type="date" class="form-control"  placeholder="Data rilascio" name="published"  th:value="*{isoPublished}"> 
                        </div>
                    </div> 
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-outline-primary">
                        Invia
                    </button>
                </div>
            </div>
        </form>
    </div>



    <footer th:replace="~{layout/bs5.html::footer}">

    </footer>
</body>

</html>